@import "tailwindcss";


@theme {
    --color-primary: #202020;
    --color-icons: #969696;
    --color-secondary: #666;
    --color-accent: #d63226;
    --color-bgDef: #fff9f4;
    --color-bgFocus: #ffefe6;
    --color-hover:#e7e7e7;
}

@layer components {
    .icon {
        @apply text-icons hover:bg-hover duration-400 cursor-pointer p-1 rounded-lg
    }
    .no-hover {
        @apply hover:bg-transparent
    }
}

body{
    /* color: #e7e7e7; */
}